{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">Binary Musings</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">二进制随想录</p>
      <p class="lead">立志学好二进制</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}stackoverflow/ret2text/" role="button">{{ i18n "get-started" }}</a>
      <!-- <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p> -->
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">逆向破解</h2>
          <p>反编译、反调试、加壳脱壳</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">加密解密</h2>
          <p>Base64、TEA、DES、AES、MD5、RSA</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">漏洞挖掘</h2>
          <p>栈溢出、堆溢出、整数溢出、条件竞争、内核漏洞</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">安全开发</h2>
          <p>Poc、渗透工具</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">红队攻防</h2>
          <p>免杀、木马、病毒</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">夺旗比赛</h2>
          <p>pwn、reverse、android、iot</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
